@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: black;
}

a {
    color: crimson;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color:rgb(110, 0, 174);
}

.mapainvertido-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.barra-fora {
    position: absolute; left: 1%; top: 7%;
    width: 28%;
    height: 2%;
    background-color: #0b2222;
    border: 2px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
    animation: piscar 2s infinite;
}

.barra-dentro {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #ffff00;
    border-radius: 10px;
    transition: width 0.4s ease;
}

#back {
    font-family: 'Press Start 2P', monospace;
    font-size: medium;
    display: flex;
    padding: 8px;
    color:  crimson;
    animation: piscar 2s infinite;
    position: absolute; top: 10px; left: 10px;
    border: solid;
}

#back:hover { color: rgb(110, 0, 174); }

#cabeça-vidas {
    position: absolute; right: 30px; top: 40px;
    display: flex;
    position: absolute; left: 111.5%; bottom: 83%; 
    align-items: center;
    gap: 30px;

}

#vidas {
    width: 140px;
    height: auto;
}

#cabeça {
    width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    animation: piscar 2s infinite;

    position: absolute; left: 105%; bottom: 88.5%;

}

#avatar {
    width: auto;
    height: 180px;
    display: flex;

    position: absolute; left: 09%; bottom: 69%;

    position: absolute; left: 7%; bottom: 69%;
    z-index: 1;

}

button {
    border: 2px solid rgb(236, 5, 5);
    color: rgb(236, 5, 5);
    background: purple;
    cursor: pointer;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.fases {
    display: flex;
    position: absolute;
}

.fases button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130px;  
    height: 130px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


#invertido1 { left: 11.5%;   bottom: 67%; }
#invertido2 { left: 37%;  bottom: 42%; }
#invertido3 { left: 60%;  bottom: 47%; }
#invertido4 { left: 81%;  bottom: 40%; }
#invertido5 { left: 109.5%;  bottom: 65.5%; }

#mapainvertido img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  display: block;
}


@keyframes piscar {
    0%, 100% {opacity: 1;}
  50% {opacity: 0; }}